:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --graphic-design-text: hsl(167, 40%, 24%);
    --photography-text: hsl(198, 62%, 26%);
    --footer: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}
.header{
    background-image: url(images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}
@media only screen and (max-width: 560px){
    .header{
        background-image: url(images/mobile/image-header.jpg);
        min-height: 80vh;
        background-size: cover;
    }
}
.custom-navbar{
    background-color: transparent;
}
.custom-icon{
    border: none;
}
.custom-link{
    color: var(--White);
}
.custom-arrow{
    bottom: 8rem;
    left: 50%;
}
@media only screen and (min-width: 560px){
    .custom-arrow{
        bottom: 10%;
    }
}
.custom-heading{
    margin-top: 10rem;
    font-size: 2.5rem;
    color: red;
}