:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --graphic-design-text: hsl(167, 40%, 24%);
    --photography-text: hsl(198, 62%, 26%);
    --footer: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
.header{
    background-image: url(images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    position: relative;
}
@media only screen and (max-width: 560px){
    .header{
        background-image: url(images/mobile/image-header.jpg);
    }
}
.custom-navbar{
    background-color: transparent;
}
.custom-icon{
    border: none;
}
.custom-link{
    color: var(--White);
}
.custom-arrow{
    bottom: 20%;
    left: 50%;
}
@media only screen and (min-width: 560px){
    .custom-arrow{
        bottom: 35%;
    }
}
.custom-heading{
    margin-top: 10rem;
    font-size: 2.5rem;
    color: red;
}
.ct-h-80vh{
    min-height: 80vh;
}
@media only screen and (max-width: 800px){
    .custom-h-40vh{
        min-height: 40vh;
    }
}
.custom-padding{
    padding: 4rem;
}
.custom-padding > *:not(:last-of-type){
    padding-bottom: 3rem;
}
.custom-btm-2{
    top: 70%;
    padding-inline: 4rem;
    color: white;
}
.custom-btm-2 > h2{
    padding-bottom: 2rem;
}
@media only screen and (min-width: 800px){
    .custom-btm-2{
        top: 50%;
    }
    .custom-btm-2 > h2{
        padding-bottom: 1rem;
    }
}
.custom-fig-width{
    width: 15%;
    border-radius: 50%;
    overflow: hidden;
}